<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1091班級團報繳費查詢</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <style>
        * {
            list-style: none;
        }

    </style>

</head>
<body>

   
    <div class="jumbotron text-center mt-5">
        
        <p id="today" class="text-right" style="font-size: xx-small;"></p>
        <p>
        <p id="rest"></p>
        <h5 class="text-danger">
            早鳥優惠開始了!!
        </h5>
        <h6 class="text-warning"> 
            8/1-8/15 : 9折 / 8/16-8/31 : 95折
        </h6>
    </div>

    <div id="app">
        
        <div id="mycourse" class="text-center mb-5 py-3 border border-warning border-top-0 border-right-0 border-left-0" v-for="(bill,index) in checkteacher">
           
            <div>
                {{index+1}} {{bill.課程名稱}} ({{bill.課程編號}} )
            </div>
            <div v-show="bill.繳費狀態=='y'">
                下期編號 {{bill.下期課程編號}} 
            </div>
            <div class="text-right">
                <small class="text-danger">{{bill.教師姓名}} 老師</small>
            </div>
            <div>
                <small>{{bill.上課時間}} / {{bill.學習中心}} - {{bill.授課地點}}</small>
            </div>
            <div>
                
            </div>
            <div>
                <div v-if="bill.繳費狀態=='y'" class="text-primary">已團報繳費</div> <div v-if="bill.繳費狀態=='n'" class="text-danger">尚未繳費</div>
                <small class="text-primary" v-show="bill.繳費狀態=='y'"> 繳費日期： {{bill.繳費日期}} / 繳費總額： NT {{bill.繳費金額}} </small>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <form class="form-inline">
              <input type="text" class="form-control" placeholder="輸入教師姓名" v-model.trim="dirteacher">
            </form>
        </nav>
       
        
    </div>

    <footer>
        <div class="btn-group fixed-bottom mt-5">
          <a href="https://line.me/ti/p/xRgqEXObOm" class="btn btn-success">Line好友</a>
          <a href="tel:03-3318897" class="btn btn-primary">客服電話</a>
          <a href="mailto:tycu003@gmail.com" class="btn btn-primary">客服信箱</a>
        </div>
      </footer>

        <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script>
       
        var y = moment().format('YYYY');
        var m = moment().format('MM')-1;
        var d = moment().format('DD');
        var a = moment([y,m,d])
        var b = moment([2020, 08-1, 15]);
        document.querySelector("#rest").innerHTML =  "九折優惠 " + a.to(b)
    </script>

        <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="1091groupbill.js"></script>
    <script>
            var d = new Date()
            var week = ["日","一","二","三","四","五","六"]
            var today = d.getMonth()+1 + "月" + d.getDate() + "日" + " 星期" + week[d.getDay()]
            document.querySelector("#today").innerHTML = "今日 " +  today
    </script>
    <script>
        new Vue({
            el: "#app",
            data: data,
            computed: {
                checkteacher(){
                    if(this.dirteacher){
                        return this.bills.filter(item=>{
                            return item.教師姓名.indexOf(this.dirteacher) !=-1
                        })
                    }else {
                        return this.bills
                    }
                }
            }
        })
    </script>
</body>
</html>