<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1091班級團報繳費查詢</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <style>
        * {
            list-style: none;
        }

        #mycourse:nth-child(odd) {
            background-color: rgb(242, 243, 180);
            background-image: linear-gradient( 115deg,red,transparent) 50% 50%;
        }

        #mycourse:nth-child(even) {
            color: white;
            background-color: rgb(255, 178, 34);
            background-image: linear-gradient( 115deg,red,transparent) 50% 50%;
        }
    </style>

</head>
<body>

   
    <div class="jumbotron text-center mt-5">
        <h5 class="text-danger">
            早鳥優惠開始了!!
        </h5>
        <h6 class="text-warning"> 
            8/1-8/15 : 9折
        </h6>
        <h6 class="text-warning">
            8/16-8/31 : 95折
        </h6>
        <p>
            請記得與桃大行動客服確認金額無誤後再進行匯款哦!! <br> 匯款時請備註原班級編號
        </p>
    </div>

    <div id="app">
        <div id="mycourse" class="container text-center py-3" v-for="(bill,index) in checkteacher">
           
            <div>
                {{index+1}} {{bill.課程名稱}} ({{bill.課程編號}} )
            </div>
            <div v-show="bill.繳費狀態=='y'">
                下期編號 {{bill.下期課程編號}} 
            </div>
            <div class="text-right">
                <small class="text-danger">{{bill.教師姓名}} 老師</small>
            </div>
            <div>
                {{bill.上課時間}}
            </div>
            <div>
                {{bill.學習中心}} - {{bill.授課地點}}
            </div>
            <div>
                <div v-if="bill.繳費狀態=='y'" class="text-primary">已團報繳費</div> <div v-if="bill.繳費狀態=='n'" class="text-danger">尚未繳費</div>
                <small class="text-primary" v-show="bill.繳費狀態=='y'"> 繳費日期： {{bill.繳費日期}} / 繳費總額： NT {{bill.繳費金額}} </small>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <form class="form-inline">
              <input class="form-control" type="text" placeholder="查詢老師姓名" v-model.trim="dirteacher">
            </form>
        </nav>
       
        
    </div>

    <footer>
        <div class="btn-group fixed-bottom mt-5">
          <a href="https://line.me/ti/p/xRgqEXObOm" class="btn btn-success">Line好友</a>
          <a href="tel:03-3318897" class="btn btn-primary">客服電話</a>
          <a href="mailto:tycu003@gmail.com" class="btn btn-primary">客服信箱</a>
        </div>
      </footer>

        <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="1091groupbill.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: data,
            computed: {
                checkteacher(){
                    if(this.dirteacher){
                        return this.bills.filter(item=>{
                            return item.教師姓名.indexOf(this.dirteacher) !=-1
                        })
                    }else {
                        return this.bills
                    }
                }
            }
        })
    </script>
</body>
</html>