<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>桃園社大期末成果展</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <style>
        #myshow>tr:nth-child(even) {
            background: rgb(238, 155, 30);
            color: white;
        }
        #myshow>tr:nth-child(odd) {
            color: rgb(238, 155, 30);
        }
        .jumbotron {
            width: 100%;
            height: 420px;
            background-image: url('https://images.unsplash.com/photo-1529787184525-7d3933bec5a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
            background-position: bottom center;
        }

    </style>

    
</head>
<body>


        <div class="jumbotron bg-danger">
                <h1 class="text-warning text-center" style="padding-top: 80px;">桃園社區大學</h1>
                <h4 class="text-white text-center" style="padding-top: 20px;"> 109-1 期末成果展 <br>109-2 期開學典禮</h4>
                <h3 class="text-white text-center">邀請您一起來共同參與</h3>
                <p class="text-white text-right" style="padding-top: 50px;">
                    <small>時間： 9/6 (星期日) 早上 8:30-12:30 </small>
                    <br>
                    <small>地點：陽明公園市民活動中心 (桃園區介壽路199號) </small>
                </p>
            
        </div>

        <ul class="nav">
            <li class="nav-item">
                <a href="https://photos.app.goo.gl/iT3wgDakyD4qRcSg9" class="nav-link">成果展相片</a>
            </li>
        </ul>    

    <div id="app">
        <h5 class="text-center text-primary">節目單流程表</h5>
        <h6 class="text-center text-primary"> 林泊鋐 老師負責</h6>
        <table  class="table mx-auto" style="width: 600px;">
            <thead class="bg-danger text-white">
                <tr>
                    <th>時間</th><th>班級節目</th><th>老師</th>
                </tr>
            </thead>
            <tbody id="myshow">
                <tr v-for="show in shows">
                    <td> {{show.時間}} </td> <td style="width: 50%"> {{show.名稱}} </td> <td> {{show.老師}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <hr>


    <div>
        <h3 class="text-primary text-center">攤位表</h3>
        <h6 class="text-center text-primary"> 張世宗 老師負責</h6>
        <p class="p-2 text-center ">
            本期攤位表依以下顏色區分，當天有 A4 立牌，請依顏色辨位
        </p>
        <div id="accordion" class="mx-auto" style="width: 600px;">
    
            <div class="card">
              <div class="card-header bg-danger text-center">
                <a class="card-link text-white" data-toggle="collapse" href="#collapseOne">
                    桃城藝術人文
                </a>
              </div>
              <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body">

                    <div id="local">
                        <table class="table">
                            <thead class="bg-danger text-white">
                                <tr>
                                    <th>教師</th>  <th>攤位</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="b in local" class="text-danger">
                                    <td > {{b.教師姓名}} </td>  <td> {{b.課程編號}} <br> {{b.課程名稱}} </td> 
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                   
                </div>
              </div>
            </div>
    
            <div class="card">
                <div class="card-header bg-success text-center">
                  <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapseFive">
                    都市智慧綠美化
                  </a>
                </div>
                <div id="collapseFive" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <div id="local2">
                        <table class="table">
                            <thead class="bg-success text-white">
                                <tr>
                                    <th>教師</th>  <th>攤位</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="a in local2" class="text-success">
                                    <td > {{a.教師姓名}} </td>  <td> {{a.課程編號}} <br> {{a.課程名稱}} </td> 
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                  </div>
                </div>
            </div>
          
            <div class="card">
              <div class="card-header text-center">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    桃園享美食輕生活
                </a>
              </div>
              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div id="local3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>教師</th>  <th>攤位</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="c in local3">
                                    <td > {{c.教師姓名}} </td>  <td> {{c.課程編號}} <br> {{c.課程名稱}} </td> 
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-header bg-primary text-center">
                <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapseThree">
                    桃園瘋運動
                </a>
              </div>
              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div id="local4">
                        <table class="table">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th>教師</th>  <th>攤位</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="d in local4" class="text-primary">
                                    <td > {{d.教師姓名}} </td>  <td> {{d.課程編號}} <br> {{d.課程名稱}} </td> 
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div>
              </div>
            </div>
    
            <div class="card">
                <div class="card-header bg-warning text-center">
                  <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapseFour">
                    桃園航空城
                  </a>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <div id="local5">
                        <table class="table">
                            <thead class="bg-warning text-white">
                                <tr>
                                    <th>教師</th>  <th>攤位</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="e in local5" class="text-warning">
                                    <td > {{e.教師姓名}} </td>  <td> {{e.課程編號}} <br> {{e.課程名稱}} </td> 
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                  </div>
                </div>
            </div>
    </div>
   

         
      
    </div>

      <div class="m-3 text-center">
          <h6 class="p-5">課務組張組長撰寫製作</h6>
      </div>

    <footer>
        <div class="btn-group fixed-bottom">
            <a href="https://forms.gle/WTxPiiJPEdDu6xsi8" class="btn btn-primary">節目調查</a>
            <a href="https://docs.google.com/spreadsheets/d/1nLdbO9GRa_8jsLqEKcRbZx_dwg6sYHXYxI8Y-ME_Icw/edit?usp=sharing" class="btn btn-primary">節目確認</a>
            <a href="https://forms.gle/VWEoygD1wTWFPCvr6" class="btn btn-primary">攤位調查</a>
            <a href="https://docs.google.com/spreadsheets/d/172lsAFGa1PzT1r_y1c0hkfqFx5fiRvrBKTVP0vhor_I/edit?usp=sharing" class="btn btn-primary">攤位確認</a>
        </div>
    </footer>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="showdata.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                shows: shows
            }
        })
    </script>
    <script src="local.js"></script>
    <script>
        new Vue({
            el: "#local",
            data: {
                local: local
            }
        })
    </script>

    <script src="local2.js"></script>
    <script>
        new Vue({
            el: "#local2",
            data: {
                local2: local2
            }
        })
    </script>

    <script src="local3.js"></script>
    <script>
        new Vue({
            el: "#local3",
            data: {
                local3: local3
            }
        })
    </script>

    <script src="local4.js"></script>
    <script>
        new Vue({
            el: "#local4",
            data: {
                local4: local4
            }
        })
    </script>

    <script src="local5.js"></script>
    <script>
        new Vue({
            el: "#local5",
            data: {
                local5: local5
            }
        })
    </script>
   
</body>
</html>