<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>市中區-桃園光影文化館</title>
    <style>
        .card {
            box-shadow: 2px 5px 5px;
        }
    </style>
</head>
<body>
    <div class="jumbotron ">
        <h1>研習室1(2F)</h1>
    </div>
    <div id="app" class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                    <th>星期六</th>
                    <th>星期日</th>
                </tr>
            </thead>
            <tbody>
                <tr class="morning" >
                    <td id="w1" >
                        <div v-for="course in courses"  v-if="course.上課星期=='星期一'  & course.上課時段=='早上'  ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師 <br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>
                        </div>
                    </td>
                    <td id="w2">
                        <div v-for="course in courses" v-if="course.上課星期=='星期二'  & course.上課時段=='早上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師 <br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>
                            

                        </div>
                    </td>
                    <td id="w3">
                        <div v-for="course in courses" v-if="course.上課星期=='星期三'  & course.上課時段=='早上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師 <br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w4">
                        <div v-for="course in courses" v-if="course.上課星期=='星期四'  & course.上課時段=='早上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w5">
                        <div v-for="course in courses" v-if="course.上課星期=='星期五'  & course.上課時段=='早上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w6">
                        <div v-for="course in courses" v-if="course.上課星期=='星期六'  & course.上課時段=='早上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w7">
                        <div v-for="course in courses" v-if="course.上課星期=='星期日'  & course.上課時段=='早上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                </tr>

                <tr class="afternoon">
                    <td id="w1" >
                        <div v-for="course in courses"  v-if="course.上課星期=='星期一'  & course.上課時段=='下午'  ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w2">
                        <div v-for="course in courses" v-if="course.上課星期=='星期二'  & course.上課時段=='下午' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w3">
                        <div v-for="course in courses" v-if="course.上課星期=='星期三'  & course.上課時段=='下午' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w4">
                        <div v-for="course in courses" v-if="course.上課星期=='星期四'  & course.上課時段=='下午' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w5">
                        <div v-for="course in courses" v-if="course.上課星期=='星期五'  & course.上課時段=='下午' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w6">
                        <div v-for="course in courses" v-if="course.上課星期=='星期六'  & course.上課時段=='下午' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w7">
                        <div v-for="course in courses" v-if="course.上課星期=='星期日'  & course.上課時段=='下午' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                </tr>

                <tr class="night">
                    <td id="w1" >
                        <div v-for="course in courses"  v-if="course.上課星期=='星期一'  & course.上課時段=='晚上'  ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w2">
                        <div v-for="course in courses" v-if="course.上課星期=='星期二'  & course.上課時段=='晚上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w3">
                        <div v-for="course in courses" v-if="course.上課星期=='星期三'  & course.上課時段=='晚上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w4">
                        <div v-for="course in courses" v-if="course.上課星期=='星期四'  & course.上課時段=='晚上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w5">
                        <div v-for="course in courses" v-if="course.上課星期=='星期五'  & course.上課時段=='晚上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w6">
                        <div v-for="course in courses" v-if="course.上課星期=='星期六'  & course.上課時段=='晚上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w7">
                        <div v-for="course in courses" v-if="course.上課星期=='星期日'  & course.上課時段=='晚上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                </tr>


            </tbody>
        </table>

    </div>  
    <!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        let data = {
            courses: [
        {
            "項次": "11",
            "課程編號": "1091C5008",
            "課程名稱": "老歌新唱美聲法初級",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "第一研習",
            "上課星期": "星期三",
            "上課時段": "下午",
            "上課開始時間": "13:00",
            "上課結束時間": "15:00",
            "繳費人數": "22",
            "教師姓名": "林采涵"
        },
        {
            "項次": "12",
            "課程編號": "1091A2002",
            "課程名稱": "投資理財策略",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "第一研習",
            "上課星期": "星期五",
            "上課時段": "下午",
            "上課開始時間": "15:30",
            "上課結束時間": "17:30",
            "繳費人數": "16",
            "教師姓名": "岑家偉"
        },
        {
            "項次": "13",
            "課程編號": "1091C5006",
            "課程名稱": "國台語新歌教唱",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "第一研習",
            "上課星期": "星期五",
            "上課時段": "下午",
            "上課開始時間": "13:30",
            "上課結束時間": "15:30",
            "繳費人數": "34",
            "教師姓名": "林榮進"
        },
        {
            "項次": "14",
            "課程編號": "1091C6006",
            "課程名稱": "趣味素描與西洋藝術賞析",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "第一研習",
            "上課星期": "星期三",
            "上課時段": "下午",
            "上課開始時間": "15:00",
            "上課結束時間": "17:00",
            "繳費人數": "21",
            "教師姓名": "朱顗臻"
        },
        {
            "項次": "15",
            "課程編號": "1091C1019",
            "課程名稱": "旅遊英語通初級3",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "第一研習",
            "上課星期": "星期二",
            "上課時段": "下午",
            "上課開始時間": "13:30",
            "上課結束時間": "15:30",
            "繳費人數": "21",
            "教師姓名": "黃貞惠"
        },
        {
            "項次": "16",
            "課程編號": "1091C1025",
            "課程名稱": "旅遊英文實用日常會話",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "第一研習",
            "上課星期": "星期日",
            "上課時段": "早上",
            "上課開始時間": "09:30",
            "上課結束時間": "11:30",
            "繳費人數": "21",
            "教師姓名": "黃子柔"
        },
        {
            "項次": "17",
            "課程編號": "1091C1026",
            "課程名稱": "實用旅遊生活英文會話",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "第一研習",
            "上課星期": "星期一",
            "上課時段": "早上",
            "上課開始時間": "10:00",
            "上課結束時間": "12:00",
            "繳費人數": "25",
            "教師姓名": "黃子柔"
        },
        {
            "項次": "18",
            "課程編號": "1091C5007",
            "課程名稱": "老歌新唱美聲法中級",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "第一研習",
            "上課星期": "星期三",
            "上課時段": "早上",
            "上課開始時間": "09:30",
            "上課結束時間": "11:30",
            "繳費人數": "19",
            "教師姓名": "林采涵"
        },
        {
            "項次": "19",
            "課程編號": "1091A1003",
            "課程名稱": "觀光日語與人文探索",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "第一研習",
            "上課星期": "星期二",
            "上課時段": "早上",
            "上課開始時間": "09:30",
            "上課結束時間": "11:30",
            "繳費人數": "25",
            "教師姓名": "謝雅梅"
        },
        {
            "項次": "20",
            "課程編號": "1091C4053",
            "課程名稱": "經絡及藥膳養生保健學",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "第一研習",
            "上課星期": "星期四",
            "上課時段": "晚上",
            "上課開始時間": "18:30",
            "上課結束時間": "20:30",
            "繳費人數": "17",
            "教師姓名": "杜世文"
        },
        {
            "項次": "21",
            "課程編號": "1091C5032",
            "課程名稱": "國台語流行歌唱技巧",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "第一研習",
            "上課星期": "星期二",
            "上課時段": "晚上",
            "上課開始時間": "18:30",
            "上課結束時間": "20:30",
            "繳費人數": "28",
            "教師姓名": "許惠華"
        },
        {
            "項次": "22",
            "課程編號": "1091C6031",
            "課程名稱": "社區手繪生活速寫",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "第一研習",
            "上課星期": "星期六",
            "上課時段": "晚上",
            "上課開始時間": "18:30",
            "上課結束時間": "20:30",
            "繳費人數": "18",
            "教師姓名": "徐江妹(酷妹)"
        }
    ]
        }
        let vm = new Vue({
            el: '#app',
            data: data
        })
    </script>
</body>
</html>