<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>市中區-桃園光影文化館</title>
    <style>
      .card {
        box-shadow: 2px 5px 5px;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron">
      <h5>研習室3(2F)</h5>
      <p class="float-right text-danger">資料更新時間：2020/02/27</p>
    </div>
    <div id="app" class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
            <th>星期日</th>
          </tr>
        </thead>
        <tbody>
          <tr class="morning">
            <td id="w1">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期一'  & course.上課時段=='早上'  "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師 <br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w2">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期二'  & course.上課時段=='早上' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師 <br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w3">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期三'  & course.上課時段=='早上' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師 <br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w4">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期四'  & course.上課時段=='早上' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w5">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期五'  & course.上課時段=='早上' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w6">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期六'  & course.上課時段=='早上' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w7">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期日'  & course.上課時段=='早上' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
          </tr>

          <tr class="afternoon">
            <td id="w1">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期一'  & course.上課時段=='下午'  "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w2">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期二'  & course.上課時段=='下午' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w3">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期三'  & course.上課時段=='下午' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w4">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期四'  & course.上課時段=='下午' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w5">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期五'  & course.上課時段=='下午' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w6">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期六'  & course.上課時段=='下午' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w7">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期日'  & course.上課時段=='下午' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
          </tr>

          <tr class="night">
            <td id="w1">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期一'  & course.上課時段=='晚上'  "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w2">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期二'  & course.上課時段=='晚上' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w3">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期三'  & course.上課時段=='晚上' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w4">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期四'  & course.上課時段=='晚上' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w5">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期五'  & course.上課時段=='晚上' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w6">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期六'  & course.上課時段=='晚上' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
            <td id="w7">
              <div
                v-for="course in courses"
                v-if="course.上課星期=='星期日'  & course.上課時段=='晚上' "
              >
                {{course.課程編號}} <br />
                {{course.課程名稱}} <br />
                {{course.教師姓名}} 老師<br />
                {{course.上課時段 + course.上課開始時間}} <br />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script>
      let data = {
        courses: [
          {
            項次: "40",
            課程編號: "1091A1006",
            課程名稱: "書法美學揮毫賞析",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期六",
            上課時段: "下午",
            上課開始時間: "15:30",
            上課結束時間: "17:30",
            繳費人數: "10",
            教師姓名: "謝志斌"
          },
          {
            項次: "41",
            課程編號: "1091C1033",
            課程名稱: "韓語快樂學輕鬆說",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期三",
            上課時段: "下午",
            上課開始時間: "13:30",
            上課結束時間: "15:30",
            繳費人數: "10",
            教師姓名: "呂宜臻"
          },
          {
            項次: "42",
            課程編號: "1091C6005",
            課程名稱: "快樂學油畫-社區風情",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期二",
            上課時段: "下午",
            上課開始時間: "14:30",
            上課結束時間: "16:30",
            繳費人數: "18",
            教師姓名: "朱顗臻"
          },
          {
            項次: "43",
            課程編號: "1091C6002",
            課程名稱: "生活花藝初級A",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期四",
            上課時段: "下午",
            上課開始時間: "13:00",
            上課結束時間: "15:00",
            繳費人數: "10",
            教師姓名: "萬啟秀"
          },
          {
            項次: "44",
            課程編號: "1091C6018",
            課程名稱: "手繪生活城市速寫",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期一",
            上課時段: "下午",
            上課開始時間: "14:00",
            上課結束時間: "16:00",
            繳費人數: "25",
            教師姓名: "徐江妹(酷妹)"
          },
          {
            項次: "45",
            課程編號: "1091C1032",
            課程名稱: "背包課韓語 - 就靠這一本",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期六",
            上課時段: "早上",
            上課開始時間: "11:30",
            上課結束時間: "13:30",
            繳費人數: "16",
            教師姓名: "呂宜臻"
          },
          {
            項次: "46",
            課程編號: "1091C1031",
            課程名稱: "觀光韓國語中級  -  【 和韓國人聊不停 】",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期六",
            上課時段: "早上",
            上課開始時間: "09:30",
            上課結束時間: "11:30",
            繳費人數: "16",
            教師姓名: "呂宜臻"
          },
          {
            項次: "47",
            課程編號: "1091C6001",
            課程名稱: "社區生活花藝初級C",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期五",
            上課時段: "早上",
            上課開始時間: "09:30",
            上課結束時間: "11:30",
            繳費人數: "17",
            教師姓名: "萬啟秀"
          },
          {
            項次: "48",
            課程編號: "1091C6023",
            課程名稱: "愛上手工皂",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期二",
            上課時段: "早上",
            上課開始時間: "09:30",
            上課結束時間: "11:30",
            繳費人數: "21",
            教師姓名: "曾斯妍"
          },
          {
            項次: "49",
            課程編號: "1091C6033",
            課程名稱: "愛上手工皂",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期四",
            上課時段: "早上",
            上課開始時間: "09:30",
            上課結束時間: "11:30",
            繳費人數: "13",
            教師姓名: "曾斯妍"
          },
          {
            項次: "50",
            課程編號: "1091C5022",
            課程名稱: "輕鬆學二胡-初級A",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期一",
            上課時段: "早上",
            上課開始時間: "09:30",
            上課結束時間: "11:30",
            繳費人數: "8",
            教師姓名: "詹守仁"
          },
          {
            項次: "51",
            課程編號: "1091C6008",
            課程名稱: "生活花藝初級B",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期四",
            上課時段: "晚上",
            上課開始時間: "18:30",
            上課結束時間: "20:30",
            繳費人數: "7",
            教師姓名: "萬啟秀"
          },
          {
            項次: "52",
            課程編號: "1091C6009",
            課程名稱: "花漾日式拼布手作",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期三",
            上課時段: "晚上",
            上課開始時間: "18:30",
            上課結束時間: "20:30",
            繳費人數: "11",
            教師姓名: "王玉滿"
          },
          {
            項次: "53",
            課程編號: "1091C6032",
            課程名稱: "社區美景寫意生活水彩",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期五",
            上課時段: "晚上",
            上課開始時間: "18:30",
            上課結束時間: "20:30",
            繳費人數: "16",
            教師姓名: "徐江妹(酷妹)"
          },
          {
            項次: "54",
            課程編號: "1091C6042",
            課程名稱: "綜合花藝好好玩",
            學習中心: "市中區光影",
            地點: "桃園光影文化館",
            教室: "第三研習",
            上課星期: "星期六",
            上課時段: "晚上",
            上課開始時間: "18:30",
            上課結束時間: "20:30",
            繳費人數: "9",
            教師姓名: "劉仁鳳"
          }
        ]
      };
      let vm = new Vue({
        el: "#app",
        data: data
      });
    </script>
  </body>
</html>
