<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>市中區-桃園光影文化館</title>
    <style>
        .card {
            box-shadow: 2px 5px 5px;
        }
    </style>
</head>
<body>
    <div class="jumbotron fixed-top">
        <h1>排練室(4F)</h1>
    </div>
    <div id="app" class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                    <th>星期六</th>
                    <th>星期日</th>
                </tr>
            </thead>
            <tbody>
                <tr class="morning" >
                    <td id="w1" >
                        <div v-for="course in courses"  v-if="course.上課星期=='星期一'  & course.上課時段=='早上'  ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師 <br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>
                        </div>
                    </td>
                    <td id="w2">
                        <div v-for="course in courses" v-if="course.上課星期=='星期二'  & course.上課時段=='早上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師 <br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>
                            

                        </div>
                    </td>
                    <td id="w3">
                        <div v-for="course in courses" v-if="course.上課星期=='星期三'  & course.上課時段=='早上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師 <br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w4">
                        <div v-for="course in courses" v-if="course.上課星期=='星期四'  & course.上課時段=='早上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w5">
                        <div v-for="course in courses" v-if="course.上課星期=='星期五'  & course.上課時段=='早上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w6">
                        <div v-for="course in courses" v-if="course.上課星期=='星期六'  & course.上課時段=='早上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w7">
                        <div v-for="course in courses" v-if="course.上課星期=='星期日'  & course.上課時段=='早上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                </tr>

                <tr class="afternoon">
                    <td id="w1" >
                        <div v-for="course in courses"  v-if="course.上課星期=='星期一'  & course.上課時段=='下午'  ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w2">
                        <div v-for="course in courses" v-if="course.上課星期=='星期二'  & course.上課時段=='下午' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w3">
                        <div v-for="course in courses" v-if="course.上課星期=='星期三'  & course.上課時段=='下午' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w4">
                        <div v-for="course in courses" v-if="course.上課星期=='星期四'  & course.上課時段=='下午' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w5">
                        <div v-for="course in courses" v-if="course.上課星期=='星期五'  & course.上課時段=='下午' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w6">
                        <div v-for="course in courses" v-if="course.上課星期=='星期六'  & course.上課時段=='下午' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w7">
                        <div v-for="course in courses" v-if="course.上課星期=='星期日'  & course.上課時段=='下午' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                </tr>

                <tr class="night">
                    <td id="w1" >
                        <div v-for="course in courses"  v-if="course.上課星期=='星期一'  & course.上課時段=='晚上'  ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w2">
                        <div v-for="course in courses" v-if="course.上課星期=='星期二'  & course.上課時段=='晚上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w3">
                        <div v-for="course in courses" v-if="course.上課星期=='星期三'  & course.上課時段=='晚上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w4">
                        <div v-for="course in courses" v-if="course.上課星期=='星期四'  & course.上課時段=='晚上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w5">
                        <div v-for="course in courses" v-if="course.上課星期=='星期五'  & course.上課時段=='晚上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w6">
                        <div v-for="course in courses" v-if="course.上課星期=='星期六'  & course.上課時段=='晚上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                    <td id="w7">
                        <div v-for="course in courses" v-if="course.上課星期=='星期日'  & course.上課時段=='晚上' ">
                            {{course.課程編號}} <br>
                            {{course.課程名稱}} <br>
                            {{course.教師姓名}} 老師<br>
                            上課人數 {{course.繳費人數}}人 <br>
                            {{course.上課時段 + course.上課開始時間}} <br>

                        </div>
                    </td>
                </tr>


            </tbody>
        </table>

    </div>  
    <!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        let data = {
            courses:  [
        {
            "項次": "38",
            "課程編號": "1091C4044",
            "課程名稱": "核心塑身有氧提斯",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期日",
            "上課時段": "下午",
            "上課開始時間": "13:00",
            "上課結束時間": "15:00",
            "繳費人數": "24",
            "教師姓名": "陳貴美"
        },
        {
            "項次": "39",
            "課程編號": "1091C4046",
            "課程名稱": "活力燃脂有氧",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期二",
            "上課時段": "下午",
            "上課開始時間": "13:30",
            "上課結束時間": "15:30",
            "繳費人數": "26",
            "教師姓名": "陳貴美"
        },
        {
            "項次": "40",
            "課程編號": "1091C4045",
            "課程名稱": "魅力瘦身有氧瑜珈",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期一",
            "上課時段": "下午",
            "上課開始時間": "13:00",
            "上課結束時間": "15:00",
            "繳費人數": "25",
            "教師姓名": "陳貴美"
        },
        {
            "項次": "41",
            "課程編號": "1091C5050",
            "課程名稱": "國際標準舞中級",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期四",
            "上課時段": "下午",
            "上課開始時間": "16:00",
            "上課結束時間": "18:00",
            "繳費人數": "33",
            "教師姓名": "楊麗娜"
        },
        {
            "項次": "42",
            "課程編號": "1091C4021",
            "課程名稱": "魅力熱舞",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期五",
            "上課時段": "下午",
            "上課開始時間": "16:00",
            "上課結束時間": "18:00",
            "繳費人數": "17",
            "教師姓名": "邵徐琳"
        },
        {
            "項次": "43",
            "課程編號": "1091C4039",
            "課程名稱": "印度古瑜伽A",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期四",
            "上課時段": "下午",
            "上課開始時間": "13:30",
            "上課結束時間": "15:30",
            "繳費人數": "25",
            "教師姓名": "廖美惠"
        },
        {
            "項次": "44",
            "課程編號": "1091C4040",
            "課程名稱": "印度古瑜伽B",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期六",
            "上課時段": "下午",
            "上課開始時間": "13:30",
            "上課結束時間": "15:30",
            "繳費人數": "25",
            "教師姓名": "廖美惠"
        },
        {
            "項次": "45",
            "課程編號": "1091C5031",
            "課程名稱": "中東肚皮舞",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期二",
            "上課時段": "早上",
            "上課開始時間": "09:30",
            "上課結束時間": "11:30",
            "繳費人數": "15",
            "教師姓名": "林妍彤"
        },
        {
            "項次": "46",
            "課程編號": "1091C4043",
            "課程名稱": "體雕曲線有氧提斯",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期五",
            "上課時段": "早上",
            "上課開始時間": "09:30",
            "上課結束時間": "11:30",
            "繳費人數": "24",
            "教師姓名": "陳貴美"
        },
        {
            "項次": "47",
            "課程編號": "1091C4007",
            "課程名稱": "八段錦氣功與華佗五禽戲",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期日",
            "上課時段": "早上",
            "上課開始時間": "09:30",
            "上課結束時間": "11:30",
            "繳費人數": "21",
            "教師姓名": "邵雨亭"
        },
        {
            "項次": "48",
            "課程編號": "1091C4047",
            "課程名稱": "單人國際拉丁舞、標準舞",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期一",
            "上課時段": "早上",
            "上課開始時間": "09:30",
            "上課結束時間": "11:30",
            "繳費人數": "15",
            "教師姓名": "桂梵天"
        },
        {
            "項次": "49",
            "課程編號": "1091C4028",
            "課程名稱": "有氧提斯初級",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期四",
            "上課時段": "晚上",
            "上課開始時間": "18:30",
            "上課結束時間": "20:30",
            "繳費人數": "33",
            "教師姓名": "邵徐琳"
        },
        {
            "項次": "50",
            "課程編號": "1091C5016",
            "課程名稱": "舞動東方肚皮舞",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期二",
            "上課時段": "晚上",
            "上課開始時間": "18:30",
            "上課結束時間": "20:30",
            "繳費人數": "23",
            "教師姓名": "黃稚詠"
        },
        {
            "項次": "51",
            "課程編號": "1091C4023",
            "課程名稱": "活力動感有氧曲線",
            "學習中心": "市中區",
            "地點": "桃園光影文化館",
            "教室": "四樓舞蹈教室",
            "上課星期": "星期六",
            "上課時段": "晚上",
            "上課開始時間": "18:30",
            "上課結束時間": "20:30",
            "繳費人數": "22",
            "教師姓名": "李美霞"
        }
    ]
        }
        let vm = new Vue({
            el: '#app',
            data: data
        })
    </script>
</body>
</html>